@import "bootstrap/scss/bootstrap";

$bg-color: #fafffd;
$text-color: #252829;
$font-main: "Inter", sans-serif;
$font-decor: "Caladea", serif;

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $text-color;
}

//Navbar
.nav-placeholder{
  height: 10vh;
}
.navbar-container {
  height: 10vh;
  background: $bg-color;
  top:0;
  z-index: 10;
}
.navbar-toggler {
  border: none;
}

.logo_img {
  width: 250px;
  @media (max-width: 990px) {
    width: 150px;
  }
}
.nav-link {
  font-family: $font-main;
  font-weight: 500;
  margin-inline: 5px;
}

//Hero
.hero-container {
  background-image: url("\hero_image.jpeg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 90vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .hero-title {
    width: 40em;
    margin-bottom: auto;
    margin-top: 5%;
    @media (max-width: 990px) {
      width: 30em;
      margin-top: 20%;
    }
    @media (max-width: 576px) {
      width: 20em;
      margin-top: 30%;
    }
  }
  .hero-btn {
    margin-bottom: auto;
    background: rgba(31, 26, 26, 0.2);
    border: 1px solid rgba(184, 173, 173, 0.5);
    color: $text-color;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: floating 1s forwards infinite alternate;
    transition: all 1.2s ease;
    &:hover {
      background: rgba(139, 132, 132, 0.3);
      border: 1px solid rgba(184, 176, 176, 0.7);
      animation: none;
    }
    @media (max-width: 576px) {
      font-size: 1.2rem;
      padding: 10px 25px;
    }
  }
}

@keyframes floating {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(+2%);
  }
}

//Process
.process-section {
  height: 100vh;
  width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  @media (max-width: 990px) {
    height: 100%;
  }
  .card_image {
    margin-top: 10%;
    // display: flex;
    @media (max-width: 1024px) {
      width: 400px;
      object-fit: contain;
    }
  }
  .card {
    margin-top: 20%;
    background-color: transparent;
    border: none;
    width: 80%;
    @media (max-width: 990px) {
      width: 100%;
    }
    .card_title {
      font-size: 3rem;
      font-family: $font-decor;
      @media (max-width: 990px) {
        font-size: 2.2rem;
      }
    }
    .card_text {
      font-size: 1.4rem;
      margin-block: 10%;
      @media (max-width: 990px) {
        font-size: 1rem;
      }
    }
  }
}

// Contact Section
.contact-section {
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: flex;
  align-items: center;

  @media (max-width: 990px) {
    height: 100%;
  }

  .contact_title {
    font-size: 3rem;
    font-family: $font-decor;
    text-align: center;
    padding-bottom: 10%;
    @media (max-width: 990px) {
      font-size: 2.2rem;
    }
  }

  .contact-form-wrapper {
    z-index: 2;
    padding: 2rem;

    @media (max-width: 992px) {
      width: 100%;
      background: $bg-color;

      // .form-container {
      //   width: 100%;
      //   max-width: 500px;
      //   background-color: white;
      //   padding: 20px;
      //   border-radius: 10px;
      //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      // }
    }
  }
  .contact-image {
    height: 100vh;
    background-image: url("/contact-img.jpeg");
    background-size: cover;
    background-position: center;

    @media (max-width: 992px) {
      height: 50vh;
      width: 100vw;
      height: 40vh;
    }
  }

  .contact_btn {
    background-color: transparent;
    color: $text-color;
    border-color: $text-color;
    border-radius: 50px;
    padding: 10px 40px;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    &:hover {
      color: $bg-color;
      border: none;
      background-color: $text-color;
    }
  }
}
